/* L23 External CSS */

/* Combin six selector into one list. Then apply the font-family to that list.   */

h1,
h2,
h3,
h4,
p,
li {
  font-family: sans-serif;
  color: #444;
}

h1,
h2,
h3 {
  color: #1098ad;
}

/* 
A CSS Rule. 
A declaration block with one or more declarations. Each declaration has a property name and a value we specify for that property. 
*/

h1 {
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}

/* Te main heading of the article.  */

h2 {
  font-size: 40px;
}

/* We have multiple h3 elements we can style them all using the below declaration block. */

h3 {
  font-size: 30px;
}

/* Align text to center which will centre the h4 to its parent element which is the entire page in our case. */
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}

/* Inheritance (a mechanism): since we not as yet specify the styles for the anchor, strong text and the em element, so they get the styles from the p selector/declaration block.*/
p {
  font-size: 22px;
  line-height: 1.5;
}

/* Style the li elements: overrides the font size of 22px from the p element, to 20px for this li elements. */
li {
  font-size: 20px;
}

/* Select all p elements that is inside of the footer elements. */

footer p {
  font-size: 16px;
}

/* 
A nested decendant selectors. Select the p element that is inside of the header that is inside of the article elements.
this is not best practice as the selector is long and not efficent way to select elements in css to style it.
*/

/* article header p {
  font-size: italic;
} */

/* Using the html ID attribute to select an element and style it. This technique of selecting and styling a unique element is best practice. */
#author {
  font-style: italic;
  font-size: 18px;
}

#copyright {
  font-size: 16px;
}

/* Using the class attribute to name an element and select that and style in csss */

related-author {
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

/* Style the unordered list within the Related posts section to remove the bullet points.  */
.related {
  list-style: none;
}

/* Give the main page header a background color of light grey. */
.main-header {
  background-color: #f7f7f7;
}

/* Give the related posts element a border top and a border bottom of the same blue */
aside {
  background-color: #f7f7f7;
  border-top: 5px solid #1098ad;
  border-bottom: 5px solid #1098ad;
}

/* We can use predefined color names as well. */
body {
  /* background-color: blue; */
}
